/* A todo esto lo estoy haciendo sobre un html de una clase anterior del curso
porque si lo hacia sobre el proyecto no me tomaba el css original*/
.contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }
  .contenedor header {
    background-color: #753875;
    margin: 1rem;
    padding: 1rem;
    /*estilos menu*/ }
    .contenedor header h1 {
      color: black;
      font-size: 2rem;
      text-align: center; }
    .contenedor header nav {
      background-color: #310631;
      display: flex;
      justify-content: center; }
      .contenedor header nav ul li {
        background-color: violet;
        list-style: none; }
